@import url('https://fonts.cdnfonts.com/css/sf-distant-galaxy');

.main-list {
    max-width: 700px;
    margin: 0 auto 0;
    padding: 0 20px;
}

.main-list article {
    background: white;
    border: 1px solid black;
    border-radius: 15px;
    padding: 25px;
    margin-bottom: 20px;
}

.main-list .actions {
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 56px; */
}

.main-list .actions button {
    padding: 10px;
    border-radius: 5px;
    border: 0;
    background: gray;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.main-list .actions button[disabled] {
    opacity: 0.5;
    cursor: default;
}

.main-list .actions button:hover {
    opacity: 0.7;
}

.main-list .actions button[disabled] {
    opacity: 0.5;
}

.input-search-personagens {
    width: 35em;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid white;
    height: 2em;
    font-size: 18px;
    color: white;
    transition: background-color 0.3s ease;
    padding: 10px;
}

.input-search-personagens:hover {
    background-color: rgba(255, 255, 255, 0.144);
    color: rgb(255, 255, 255);
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.p-search-personagens {
    color: white;
    font-family: SF Distant Galaxy;
    font-size: 70px;
    display: flex;
    justify-content: center;
}

.title-search {
    margin: 0;
    padding: 0;
}

.name-persona {
    font-size: 30px;
    font-family: SF Distant Galaxy;
    color: rgb(226, 226, 226);
    text-shadow:
        -2px -2px 0 black,
        2px -2px 0 black,
        -2px 2px 0 black,
        2px 2px 0 black;
}

.descricao {
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
    font-weight: 600;
}

.btn-5 {
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 10px 50px;
    border: none;
    background: transparent;
    background: linear-gradient(
      0deg,
      rgb(214, 214, 214) 0%,
      rgb(224, 224, 224) 100%
    );
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    color: black;
  }
  
  .btn-5:hover {
    color: #000000;
    background: transparent;
    box-shadow: none;
  }
  
  .btn-5:before,
  .btn-5:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #000000;
    box-shadow: -1px -1px 5px 0px #fff, 7px 7px 20px 0px #0003, 4px 4px 5px 0px #0002;
    transition: 400ms ease all;
  }
  
  .btn-5:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
  }
  
  .btn-5:hover:before,
  .btn-5:hover:after {
    width: 100%;
    transition: 800ms ease all;
  }

.router-div {
    display: flex;
    justify-content: center;
}

.background-star-wars {
    background-image: url("https://wallpapercave.com/wp/gfwPusm.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}

/* RESPONSIVIDADE */

/* Estilos para telas médias */
@media screen and (max-width: 768px) {
    .main-list {
        padding: 0 10px; /* Reduza o padding lateral */
    }

    .main-list article {
        padding: 20px; /* Aumente o padding interno */
    }

    .main-list .actions {
        flex-direction: column; /* Alinhe os botões verticalmente */
        align-items: center; /* Centralize os botões */
        margin-bottom: 20px; /* Reduza a margem inferior */
    }

    .main-list .actions button {
        width: 100%; /* Os botões ocupam a largura total */
        margin-bottom: 10px; /* Adicione espaço entre os botões */
    }

    .input-search-personagens {
        width: 100%; /* Ocupa a largura total */
        max-width: none; /* Não define largura máxima */
        margin: 0;
        border-radius: 0;
        border: none;
        height: 2.5em; /* Aumenta a altura para melhorar a usabilidade em telas menores */
        font-size: 16px; /* Reduz o tamanho da fonte */
        padding: 8px; /* Reduz o espaçamento interno */
    }

    .search-container {
        margin-bottom: 10px;
        flex-direction: column; /* Alinha verticalmente para melhorar a usabilidade em telas menores */
    }

    .p-search-personagens {
        font-size: 40px; /* Reduz o tamanho da fonte */
    }

    .name-persona {
        font-size: 24px; /* Reduz o tamanho da fonte */
    }

    .descricao {
        font-size: 16px; /* Reduz o tamanho da fonte */
    }
}



@media screen and (max-width: 480px) {
    .main-list {
        padding: 0 10px; /* Reduza ainda mais o padding lateral */
    }

    .main-list article {
        padding: 15px; /* Reduza o padding interno */
    }

    .main-list .actions {
        margin-bottom: 10px; /* Reduza a margem inferior */
    }

    .main-list .actions button {
        padding: 8px; /* Reduza o padding dos botões */
        font-size: 14px; /* Reduza o tamanho da fonte dos botões */
    }

    .input-search-personagens {
        height: 2.2em; /* Ajuste de altura */
        font-size: 14px; /* Reduz tamanho da fonte */
        padding: 6px; /* Reduz padding */
    }

    .search-container {
        margin-bottom: 5px; /* Reduz margem inferior */
    }

    .p-search-personagens {
        font-size: 30px; /* Reduz tamanho da fonte */
    }

    .name-persona {
        font-size: 20px; /* Reduz tamanho da fonte */
    }

    .descricao {
        font-size: 14px; /* Reduz tamanho da fonte */
    }
}