@import url('https://fonts.cdnfonts.com/css/sf-distant-galaxy');

*{
    padding: 0;
    margin: 0;
}

.main-container {
    background-image: url(https://wallpaperaccess.com/full/1987323.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    text-align: left;
}

.p-image {
    max-width: 100%;
    height: 54em;
}


.escrita{
    text-align: center;
    margin-top: 50px;
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    color: yellow;
}

.p-escrita {
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translate(0, -50%);
    background-color: transparent;
    color: white;
    padding: 10px;
    font-size: 25px;
    font-family: SF Distant Galaxy;
    display: inline-block;
    text-align: center;
}

.bottom{
    display: flex;
    justify-content: center;
    background-color: black;
    border-color: rgb(105, 2, 2);
}

.p-star-wars {
    color: white;
    text-shadow: 0 0 3px #FFFFFF;
    font-family: SF Distant Galaxy;
    display: block;
    text-align: center;
    font-size: 55px;
    font-style:oblique;
    text-shadow: 0 0 5px rgba(240, 20, 20, 0.5);
}

.quadrado{
    bottom: 2em;
}

.btn-5 {
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 10px 88px;
    border: none;
    background: transparent;
    background: linear-gradient(
      0deg,
      rgb(214, 214, 214) 0%,
      rgb(224, 224, 224) 100%
    );
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    color: black;
  }
  
  .btn-5:hover {
    color: #000000;
    background: transparent;
    box-shadow: none;
  }
  
  .btn-5:before,
  .btn-5:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #000000;
    box-shadow: -1px -1px 5px 0px #fff, 7px 7px 20px 0px #0003, 4px 4px 5px 0px #0002;
    transition: 400ms ease all;
  }
  
  .btn-5:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
  }
  
  .btn-5:hover:before,
  .btn-5:hover:after {
    width: 100%;
    transition: 800ms ease all;
  }

/* RESPONSIVIDADE */

@media (max-width: 768px) {
    .p-escrita {
        position: static;
        margin-top: 20px;
        text-align: center;
    }
}

@media (max-width: 992px) {
    .p-escrita {
        position: static;
        margin-top: 20px;
        text-align: center;
    }
}

@media (max-width: 576px) {
    .p-escrita {
        position: static;
        margin-top: 20px;
        text-align: center;
    }
}